@model MiInmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Crear";
    Contrato contrato = (Contrato)ViewBag.Contrato;
    int numero = (int)ViewBag.numeroUltimoPago + 1;
}

<div class="row align-items-baseline">
    <div class="col-3 text-primary"> <h1><i class="fa fa-plus"></i> Crear</h1> </div>
    <div class="col-9"> <h4>Pago</h4> </div>
</div>

<hr />
<div class="row">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <div class="row">
                    <div class="col-3"> <label asp-for="Id" class="control-label"></label> </div>
                    <div class="col-9">
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-3">  @Html.DisplayNameFor(model => contrato.Id) Contrato </div>
                    <div class="col-9 form-control">
                        @Html.DisplayFor(model => contrato.Id)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3"> @Html.DisplayNameFor(model => contrato.Inmueble.Direccion) Inmueble </div>
                    <div class="col-9 form-control">
                        @Html.DisplayFor(model => contrato.Inmueble.Direccion) - $ @Html.DisplayFor(model => contrato.Precio)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3"> Inquilino </div>
                    <div class="col-9 form-control border">
                        @Html.DisplayFor(model => contrato.Inquilino.Persona.Apellido) @Html.DisplayFor(model => contrato.Inquilino.Persona.Nombre)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-3"> <label asp-for="Numero" class="control-label"></label> </div>
                    <div class="col-9">
                        <input asp-for="Numero" class="form-control" value="@numero" autofocus />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3"> <label asp-for="Fecha" class="control-label"></label> </div>
                    <div class="col-9">
                        <input asp-for="Fecha" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3"> <label asp-for="Importe" class="control-label"></label> </div>
                    <div class="col-9">
                        <input asp-for="Importe" class="form-control" value="@contrato.Precio" />
                        <span asp-validation-for="Importe" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> │ <a asp-action="Index">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
