<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiInmobiliaria</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fas fa-home"></i> MiInmobiliaria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> </a>
                            </li>
                            <li class="nav-item float-right">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login"> <i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
                            </li>
                        }
                        else
                        {
                            @if (User.IsInRole("Empleado") || User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="index">Propietarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="index">Inmuebles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Agencia" asp-action="index">Agencias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="index">Inquilinos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Contrato" asp-action="index">Contratos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="index">Pagos</a>
                                </li>

                                @if (User.IsInRole("SuperAdministrador"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configuracion</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="TipoPersona" asp-action="index">Tipos de Persona</a>
                                            <a class="nav-link" asp-area="" asp-controller="Persona" asp-action="index"> <i class="fas fa-user-cog"></i> Personas</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="index"> <i class="fas fa-user-cog"></i> Usuarios</a>
                                            <a class="nav-link" asp-area="" asp-controller="Garante" asp-action="index"> <i class="fas fa-user-cog"></i> Garantes</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="TipoInmueble" asp-action="index">Tipos de Inmueble</a>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="UsoInmueble" asp-action="index">Usos de Inmueble</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                        </div>
                                    </li>
                                }
                            }
                            <li class="nav-item dropdown">
                                <a class="btn btn-secondary dropdown-toggle text-light" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                                    <span class="lnr lnr-user"></span> @User.Identity.Name
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Perfil"> <i class="fas fa-id-card"></i> Perfil</a>
                                    <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"> <i class="fas fa-sign-out-alt"></i> Salir</a>
                                </div>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Información:</strong> @ViewBag.Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    X
                </button>
            </div>
        </div>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Warning))
    {
        <div class="container">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Información:</strong> @ViewBag.Warning
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    X
                </button>
            </div>
        </div>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Success))
    {
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Información:</strong> @ViewBag.Success
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    X
                </button>
            </div>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MiInmobiliaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
